body {
  font-family: "Playwrite NZ Basic", cursive;
  margin: 20px;
  /* background: #ffffff; */
  background-image: url('https://i.pinimg.com/originals/b0/4d/c6/b04dc60949e3e4161f2e43640286ae01.gif');
  background-size:cover;
  color: #000000;
  filter: brightness(100%) saturate(1.2);
  transition: filter 0.3s ease, background 0.3s ease, color 0.3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

button {
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

input[type="range"] {
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-family: inherit;


}

input[type="range"] {
  cursor: pointer;
}

.external-search-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

h1 {
  text-align: center;
  color: antiquewhite;
}

#pageContent {
  transition: filter 0.3s ease;
  margin-top: 150px;
  /* border: 3px solid #000000; */
}

.footer {
  /* border: 3px solid red; */
  margin-top: 125px;
  text-align: center;
  color: antiquewhite;

}

.brightnessslider {
  padding: 10px;
  border-radius: 20px;
  border: 3px solid white;

}
